

body { 
    
    width:700px;
    background-color:beige; 
    border: dotted 8px pink; 
    font-family: 'Neucha', cursive;
    Font-size: 1.2rem;
    line-height: 1.6em; 
    margin-left: auto;
    margin-right: auto;
    padding: 1em; 
    border-radius: 20px;
                 
}
 



h1, h2 {font-family: 'Bangers', cursive;

}



h1 {color: #e85067;
    margin-bottom:0.5;
   


}


h2 {color: #e45f4a;
    margin-top: 1.5em;

} 


p {font-weight: bold;
line-height: 2em;} 

li{
    line-height: 2em;
}  







